.articleHeader {
    border: solid plum;
    height: 200px;
    text-align:center;
    background-size: cover;
    font-family: Helvetica;
    margin: 0 auto;
    padding: 40px 20px 20px;
}

.articleBody {
    max-width: 700px;
    padding: 30px;
    margin: 30px auto;
    font-family: Helvetica;
    background-color: snow;
    border: solid plum;
}

.articleWrapper {
    line-height: 40px;
}

.articleTitle {
    font-weight: bold;
    font-size: x-large;
}